body {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 95vh;
}

footer {
    margin-top: auto;
}

img {
    width: 200px;
}

.info-wrapper {
    display: flex;
}

.options {
    margin-left: 50px;
}

@media (max-width: 1000px) {
    .info-wrapper {
        flex-direction: column;
    }

    .options {
        margin-left: 0;
    }
}