<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twitter_manager_py</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<header>
    <h2>twitter_manager_py</h2>
</header>

<body>
    {% block content %}
    {% endblock %}
</body>

<footer>
    <span><b><a href="{{ url_for('x_api.home') }}">Back Home</a></b></span>
</footer>

</html>