{% extends "_base.html" %}
{% block content %}
<h3>Authentication Result</h3>
<ul>
    <li>
        <p><b>Incoming OAuth Token:</b> {{ res["oauth_token"] }}</p>
    </li>
    <li>
        <p><b>Incoming OAuth Verifier:</b> {{ res["oauth_verifier"] }}</p>
    </li>
    <li>
        <p><b>User's Access Token:</b> {{ res["access_token"] }}</p>
    </li>
    <li>
        <p><b>User's Token Secret:</b> {{ res["access_token_secret"] }}</p>
    </li>
</ul>
<p><a href="{{ url_for('x_api.info') }}">Go to User Profile</a></p>
{% endblock %}