{% extends "_base.html" %}
{% block content %}
<h3>Current User Screen Name: {{ current_username }}</h3>
{% if is_tweet: %}
<form role="form" method="post"
    action="{{ url_for('x_api.tweet_lookup', current_username=current_username) if not is_client_api else url_for('client_api.tweet_lookup', current_username=current_username, tweet_count=tweet_count) }}"
    novalidate>
    {{ form.csrf_token }}
    {{ form.tweet_id.label }}
    {{ form.tweet_id }}
    {% if form.tweet_id.errors: %}
    <p>Required Field</p>
    {% endif %}
    {{ form.submit }}
</form>
<p>Current User Liked: {{ liked|string }}</p>
<p>Current User Retweeted: {{ retweeted|string }} </p>
{% elif is_search: %}
<form role="form" method="post"
    action="{{ url_for('x_api.search_tweet', current_username=current_username, tweet_count=tweet_count) if not is_client_api else url_for('client_api.search_tweet', current_username=current_username, tweet_count=tweet_count) }}"
    novalidate>
    {{ form.csrf_token }}
    {{ form.search_text.label }}
    {{ form.search_text }}
    {% if form.search_text.errors: %}
    <p>Required Field</p>
    {% endif %}
    {{ form.submit }}
</form>
{% if found_tweets: %}
<p>Found Tweets Published By User:</p>
{% for tweet in found_tweets: %}
<p><i>{{ tweet }}</i></p>
{% endfor %}
{% endif %}
{% elif is_intent: %}
<p>Ensure you are logged in to X: <a href="{{ x_login_url }}" target="_blank">{{ x_login_url }}</a></p>
<form role="form" method="post" action="{{ url_for('intent.post_intent', current_username=current_username) }}"
    novalidate>
    {{ form.csrf_token }}
    {{ form.text.label }}
    {{ form.text }}
    {% if form.text.errors: %}
    <p>Required Field</p>
    {% endif %}
    {{ form.submit }}
</form>
{% if intent_url: %}
<p><a href="{{ intent_url }}" target="_blank">{{ intent_url }}</a></p>
{% endif %}
{% else: %}
<form role="form" method="post"
    action="{{ url_for('x_api.user_lookup', current_username=current_username) if not is_client_api else url_for('client_api.user_lookup', current_username=current_username, following_count=following_count) }}"
    novalidate>
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    {% if form.username.errors: %}
    <p>Required Field</p>
    {% endif %}
    {{ form.submit }}
</form>
{% if connection_status: %}
<p>Current User Connection Status: {{ connection_status }}</p>
{% endif %}
{% endif %}
<p><a href="{{ url_for('x_api.info') }}">Back to Authenticated User Info</a></p>
{% endblock %}