{% extends "_base.html"%}
{% block content%}
<h3>Authenticated User Info</h3>
<p>Hello, <b>{{ res_info["username"] }}</b>! Thank you for authorization!</p>
<p><b>Followers Count:</b> {{ res_info["followers_count"]|string }}</p>
<p><b>Following Count:</b> {{ res_info["following_count"]|string }}</p>
<p>You have <b>{{ res_info["tweet_count"]|string }}</b> tweets!</p>
<p><a href="{{ url_for('tweet_lookup', current_username=res_info['username']) }}">Check Tweet (API)</a></p>
<p><a href="{{ url_for('user_lookup', current_username=res_info['username']) }}">Check Follows (API)</a></p>
{% endblock %}